.btn {
    border-radius: 7px; 
    font-family: 'roboto-bold';
    color: white;
    padding: 1em 2em;
}

.btn-sub {
    padding: 0.9em 2.2em;
    background: linear-gradient(90deg, #f65b72 0%, #f48f6f 100%);
}

.btn-socials {
    padding: 0.9em;
    color: white;
}

.btn-fb {
    background-color: rgba(72, 97, 146, 1);
}